@import "./normalize.scss";
html {
  overflow: initial !important;
}
body,
html {
  margin: 0;
  padding: 0;
}

@import "./misc/misc.scss";
@import "./mixins/mixins.scss";
@import "./layout/layout.scss";

// @import "./modules/toggle.scss";
// @import "./modules/accordion.scss";
@import "./parallax.scss";

@import "./contact.scss";

.App {
  display: grid;
}

* {
  box-sizing: border-box !important;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

html {
  box-sizing: border-box !important;
}
*,
*:before,
*:after {
  box-sizing: inherit !important;
}

html {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit !important;
  -moz-box-sizing: inherit !important;
  box-sizing: inherit !important;
}
