@import "../mixins/breakpoints.scss";
@import "../misc/colors.scss";

.accordion__component {
	margin-bottom: 2rem;

	.accordion {
		background-color: map-get($xav, color1);
		color: $white;
		font-weight: 700;
		cursor: pointer;
		padding: 1rem;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 1.2rem;
		transition: 0.4s;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.accordion__active,
	.accordion:hover,
	.accordion:focus,
	.accordion:active {
		background-color: map-get($xav, color1);
	}
	.panel {
		background-color: $alt-white;
		border-left: 2px solid map-get($xav, color1);
		border-right: 2px solid map-get($xav, color1);
		border-bottom: 2px solid map-get($xav, color1);
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	.accordion {
		&.accordion__active {
			.accordion__plus {
				animation: twist 0.3s forwards;
				transform-origin: center center;
			}
		}
	}
	.accordion__plus {
		float: right;
		animation: revert_twist 0.3s forwards;
		transform-origin: center center;
	}
}

@keyframes revert_twist {
	0% {
		transform: rotate(47deg);
	}
	50% {
		transform: rotate(23.5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes twist {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(23.5deg);
	}
	100% {
		transform: rotate(47deg);
	}
}
