@import "../mixins/breakpoints.scss";
@import "../misc/colors.scss";

.adminButtons {
  margin-top: 2rem;
  display: grid;
  
  @include breakpoints(really_big large sm_desktop){
    grid-template-columns: 1fr 4fr 1fr;
  }
  @include breakpoints(lg_tablet tablet nav mobile){
    grid-template-columns: 15px 1fr 15px;
  }

  .buttons {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

.Modal {
  position: relative;
  z-index: 99;

  .closeBtn {
    padding: .25rem .45rem !important;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: .75rem;
  }

  h4 {
    text-align: center;
    margin: 0;
  }

  .type {
    display: flex;
    justify-content: space-evenly;
  }
}