@import "../mixins/breakpoints.scss";
@import "../misc/colors.scss";

.post {
  color: $alt-white;
}

.commentSection {
  max-width: 650px;
  margin: 3rem auto 0rem;
  padding: 1rem;
  background-color: map-get($xav, color4);

  h3 {
    margin-top: 0;
    margin-left: .8rem;
    color: $alt-white;

  }
}
