@import "../mixins/breakpoints.scss";
@import "../misc/colors.scss";

.dashboard,
.create-profile,
.stories,
.posts,
.storyPage,
.postPage {
  display: grid;
  padding-top: 70px;
  margin-bottom: 12.8rem;

  @include breakpoints(really_big large desktop sm_desktop) {
    grid-template-columns: 1fr 950px 1fr;
  }
  @include breakpoints(lg_tablet tablet) {
    grid-template-columns: 1fr 650px 1fr;
  }
  @include breakpoints(nav mobile) {
    grid-template-columns: 1rem 1fr 1rem;
  }
}

// for basic, white background
.create-profile,
.posts,
.postPage {
  grid-column: 2/3;
}

.dashboard {
  grid-column: 1/4;
  background-color: $alt-white;
}

// for full page color:
.stories {
  grid-column: 1/4;
  background-color: map-get($xav, color5);
}

.storyPage {
  grid-column: 1/4;
  background-color: map-get($xav, color4);
}

.postPage {
  grid-column: 1/4;
  background-color: map-get($xav, color1);
}
