@import "../mixins/breakpoints.scss";
@import "../misc/colors.scss";

section {
  display: grid;
  @include breakpoints(really_big large desktop sm_desktop lg_tablet tablet) {
    grid-template-columns: 1fr 8fr 1fr;
  }
  @include breakpoints(nav mobile) {
    grid-template-columns: 1fr 15fr 1fr;
  }

  .Container {
    grid-column: 2;
    margin: 0 auto;

    @include breakpoints(really_big large desktop sm_desktop) {
      max-width: 875px;
    }
    @include breakpoints(lg_tablet tablet) {
      max-width: 750px;
    }
    .Row {
      display: grid;
      align-items: center;
      justify-items: center;

      @include breakpoints(really_big large desktop sm_desktop) {
        grid-template-columns: 1fr 1fr;
        margin: 70px auto;
      }
      @include breakpoints(lg_tablet tablet nav mobile) {
        grid-template-columns: 1fr;
        margin: 50px auto;
      }
    }
  }
}