@import "../mixins/breakpoints.scss";
@import "../misc/colors.scss";

.heading {
  grid-column: 1/4;
  position: relative;

  .overlay {
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, .35) 100%);
    z-index: 2;
    position: absolute;
    width: 100vw;
    display: block;
    height: 100%;
  }
  .headingTitle {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 2;

    .headingContent {
      position: absolute;
      top: 2rem;

      h1 {
        color: $white;
      }
    }
  }

  .headingImage {
    width: 100%;
    display: block;
  }
}