@import "../misc/colors.scss";

.form {
  margin-top: 0.75rem;
  display: flex;
  flex-flow: column nowrap;

  .form-group {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: normal;
    gap: 2rem;
    align-items: baseline;
  }

  .form-textbox {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;

    p {
      margin-bottom: 0;
    }
  }

  .social-input {
    margin-top: 2rem;
    .form-group {
      grid-template-columns: 2em 1fr;
    }
  }

  .form-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .left {
      justify-self: left;
    }

    .right {
      justify-self: right;
    }
  }

  .radioGroup {
    margin-left: 1rem;
    margin-bottom: 1rem;

    .radioSubGroup {
      cursor: pointer;
      .radioInput {
        margin-right: 0.5rem;
        cursor: pointer;
      }
      .radioLabel {
        cursor: pointer;
      }
    }
  }

  select {
    outline: none;
    border: none;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type="text"] {
    margin-bottom: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
  }

  input[type="text"],
  select,
  option {
    border-bottom: 2px solid #767676;
    padding: 0.25rem 1rem 0.25rem 0.5rem;

    &::placeholder {
      color: #767676;
      opacity: 1;
    }
  }

  textarea {
    resize: none;
    padding: 0.5rem;
  }

  .registerButton {
    padding: 0.75rem 0;
    outline: none;
    background-color: map-get($xav, color1);
    border: 1px solid map-get($xav, color1);
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background-color: lighten(map-get($xav, color1), 5%);
      border-color: lighten(map-get($xav, color1), 5%);
    }

    @include breakpoints(really_big large desktop sm_desktop) {
      width: 125px;
      margin: 0 auto;
    }
    @include breakpoints(lg_tablet tablet nav mobile) {
      width: 100%;
    }
  }
}
