$trivia: (
  color1: #2d3142,
  //$dark-green
  color2: #bfc0c0,
  //$tea-green
  color3: #ffffff,
  //$gray-web
  color4: #ef8354,
  //$mango-tango
  color5: #4f5d75 //$black-coffee,
);
$white-hover: #cfcfcf;
$smoke: #f5f5f5;
$white: #f8f8f8;
$alt-white: #fefefe;
$text: #333;