$xav: (
  color1: #0c1926,
  // rich-black-fogra-29:
  color2: #0d1b2a,
  // rich-black-fogra-29-2:
  color3: #1b263b,
  // oxford-blue:
  color4: #415a77,
  // bdazzled-blue:
  color5: #526983
  // queen-blue:
);


$white-hover: #cfcfcf;
$smoke: #f5f5f5;
$white: #f8f8f8;
$alt-white: #fefefe;
$text: #333;
$danger: #dc3545;